node_modules/
dist/
.angular/
.vscode/
.idea/

.env
*.env

.DS_Store
Thumbs.db

backend/public/storage/posts/*
backend/public/storage/reviews/*
backend/public/storage/postits/*
backend/public/storage/profile/*

!backend/public/storage/posts/.gitkeep
!backend/public/storage/reviews/.gitkeep
!backend/public/storage/postits/.gitkeep
!backend/public/storage/profile/.gitkeep

npm-debug.log*
yarn-debug.log*
yarn-error.log*