<app-header></app-header>

<section class="hero">
  <div class="hero-text">
    <span class="mini-title"> blog pessoal </span>

    <h1>dias calmos, música boa e pensamentos perto do mar.</h1>

    <p>
      Um espaço para guardar textos, reviews, frases soltas, memórias e pequenas coisas bonitas do
      cotidiano.
    </p>

    <div class="hero-buttons">
      <a routerLink="/posts"> ver posts </a>

      <a routerLink="/postits" class="ghost"> ler notas </a>
    </div>
  </div>

  <div class="quote-card">
    <div class="quote-content">
      <p>“Pensar é um ato. Sentir é um fato”</p>
    </div>
  </div>
</section>

<section class="section">
  <span class="mini-title"> últimos textos </span>

  <div class="section-header">
    <h2>Posts recentes</h2>

    <a routerLink="/posts"> ver todos </a>
  </div>

  <div class="posts-grid">
    <article class="post-card" *ngFor="let p of posts">
      <img *ngIf="p.imagem" [src]="urlImagem(p.imagem)" alt="" />

      <div class="post-content">
        <span class="categoria">
          {{ p.categoria }}
        </span>

        <h3>
          {{ p.titulo }}
        </h3>

        <p>
          {{ resumo(p.conteudo, 220) }}
        </p>

        <a [routerLink]="['/posts', p.id]"> continuar lendo </a>
      </div>
    </article>
  </div>
</section>

<section class="reviews-section">
  <div class="section">
    <span class="mini-title"> opiniões afetivas </span>

    <div class="section-header">
      <h2>Reviews recentes</h2>

      <a routerLink="/reviews"> ver todas </a>
    </div>

    <div class="reviews-grid">
      <article class="review-card" *ngFor="let r of reviews">
        <div class="review-img-box" *ngIf="r.imagem">
          <img [src]="urlImagem(r.imagem)" alt="" />
        </div>

        <div class="review-content">
          <span class="tipo">
            {{ r.tipo }}
          </span>

          <h3>
            {{ r.titulo }}
          </h3>

          <div class="nota">{{ r.nota }}/10</div>

          <p>
            {{ resumo(r.texto, 120) }}
          </p>

          <a [routerLink]="['/reviews']"> ver review </a>
        </div>
      </article>
    </div>
  </div>
</section>

<section class="section">
  <span class="mini-title"> frases pequenas </span>

  <div class="section-header">
    <h2>Mural de post-its</h2>

    <a routerLink="/postits"> abrir mural </a>
  </div>

  <div class="postits">
    <div class="postit" *ngFor="let p of postits" [style.background]="p.cor">
      <p>
        {{ p.texto }}
      </p>
    </div>
  </div>
</section>

<app-footer></app-footer>
